.app-container {
  display: grid;
    grid-template-areas: "header" "content";
    height: 100vh;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 70px 1fr ;
    grid-gap: 1px;
    margin-left: 10px;
}

.app-content {
  grid-area: content;
  width: 100%;
  padding: 10px;
  background: rgb(223, 222, 222)
}