.app-container {
  display: grid;
    grid-template-areas: "header header" "content side";
    height: 100vh;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 60px 1fr ;
    grid-gap: 10px;
    margin-left: 10px;
}

.app-content {
  grid-area: content;
  width: 100%;
  background: #F9F5F0;
}