.game-bet-title-flex {
  display: flex;
}
.game-bet-title-main {
    font-size: 1.4rem;
    padding-right: 0.9rem;
  }
  .game-bet-title-prize-eth {
    font-size: 1rem;
    padding-right: 0.8rem;
  }