.recent-game-container {
  width: 100%;
  padding: 10px 0px;
  margin: 5px;
  font-size: 14px;
  border: 1px solid;
  border-radius: 5px;
  background: white;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: "teams teams ebet abet abet";
}

.teams-info {
  grid-area: teams;
}

.new-bet {
  grid-area: nbet;
}

.exists-bet {
  grid-area: ebet;
  display: flex;
  justify-self: center;
  align-items: center;
}

.bet-button {
  grid-area: bbtn;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-bets {
  grid-area: abet;  
}

.all-bets ul {
  list-style: none;
}

.user-bet-container {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20px 60px 60px;
  grid-template-areas:
    "whead dhead"
    "hwin dbet"
    "awin dbet";
}

.user-bet-container > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner-header {
  grid-area: whead;  
}
.home-win {
  grid-area: hwin;
}
.away-win {
  grid-area: awin;
}
.points-diff-head {
  grid-area: dhead;
}
.points-diff-dd {
  grid-area: dbet;
}
