.recent-game-container {
  width: 100%;
  padding: 10px 0px;
  margin: 5px;
  font-size: 14px;
  border: 1px solid;
  border-radius: 5px;
  background: white;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: "teams teams final ebet abet abet";
}

.teams-info {
  grid-area: teams;
}

.final-score {
  grid-area: final;
}

.final-score-container {
  height: 100%;
  display: grid;
  grid-gap: 2px;
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
    "fhead"
    "hfin"
    "hfin"
    "hfin"
    "afin"
    "afin"
    "afin"
}
.final-score-container > * {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.final-header {
  grid-area: fhead;
}

.home-final-score {
  grid-area: hfin;
  font-size: 16px;
}

.away-final-score {
  grid-area: afin;
  font-size: 16px;
}

.new-bet {
  grid-area: nbet;
}

.exists-bet {
  grid-area: ebet;
  display: flex;
  justify-self: center;
  align-items: center;
}

.bet-button {
  grid-area: bbtn;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-bets {
  grid-area: abet;  
}

.all-bets ul {
  list-style: none;
}
