.all-bets-container {
    height: 100%;
    border: solid 1px black;
    border-radius: 10px;
    display: grid;
    grid-gap: 2px;
    grid-template-rows: [all-bets-header] 1fr [all-bets-content-table] 6fr;   
  }
  .all-bets-container > * {
    display: flex;
    justify-content: center;
  }
  
  .all-bets-header {
    grid-row: all-bets-header;
    text-decoration: underline;
  }
  .all-bets-content {
    grid-row: all-bets-content-table;    
  }

  .ui.compact.table th {
    padding: .2em .4em;
  }

.ui.compact.table td {
    padding: .2em .4em;
  }
