.all-bets-container {
    height: 100%;
    border: solid 1px black;
    border-radius: 10px;
    display: grid;
    grid-gap: 2px;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
    "allhead"
    "allcont"
    "allcont"
    "allcont"
    "allcont"
    "allcont"
    "allcont"   
    ;
  }
  .all-bets-container > * {
    display: flex;
    justify-content: center;
  }
  
  .all-bets-header {
    grid-area: allhead;
  }
  .all-bets-content {
    grid-area: allcont;    
  }

  .all-bets-content > table {
    width: 100%;
  }

  .avatar-main {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 45px 60px;
    grid-template-areas: 
    "avimg avname";
    align-items: center;
  }

  .avatar-main > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .avatar-img {
    grid-area: avimg;    
  }
  .avatar-img > img {
    height: 40px;  
    width: 40px;
    border-radius: 50%;
  }
  .avatar-name {
    grid-area: avname;
  }