.gamebet-container {
  width: 100%;
  padding: 0px 0px;
  margin: 1px 5px;
  font-size: 14px;
  background: white;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: [new-game-title] 1fr [new-game-body] 5fr;
  grid-template-columns: [new-game-teams] 1fr [new-game-bet] 1fr [new-game-chart] 1fr;
}
.game-bet-title {
  grid-row: new-game-title;
  grid-column: 1 / -1;
}

.teams-info {
  grid-row: new-game-body;
  grid-column: new-game-teams;
}
.user-game-bet {
  grid-row: new-game-body;
  grid-column: new-game-bet;
  border: solid 1px black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-bets {
  grid-row: new-game-body;
  grid-column: new-game-chart;
}

.game-bet-title-main {
  font-size: 24px;
  padding-right: 10px;
}
.game-bet-title-prize-eth {
  font-size: 16px;
  padding-right: 10px;
}

.new-bet-container {
  height: 100%;
  display: grid;
  grid-gap: 2px;  
  grid-template-columns: repeat(8, 1fr); 
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
    "whead whead dhead dhead ehead ehead ehead ehead"
    "hwin hwin cdif cdif ethsum ethsum ethsum ethsum"
    "hwin hwin cdif cdif ethsum ethsum ethsum ethsum"
    "hwin hwin cdif cdif ethbtn ethbtn ethbtn ethbtn"
    "awin awin cdif cdif plnbtn plnbtn plnbtn plnbtn"
    "awin awin cdif cdif plnbtn plnbtn plnbtn plnbtn"
    "awin awin cdif cdif plnbtn plnbtn plnbtn plnbtn"
    ;
}

.new-bet-container > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner-header {
  grid-area: whead;  
}
.points-diff-header {
  grid-area: dhead;
}
.home-win {
  grid-area: hwin;
}
.away-win {
  grid-area: awin;
}
.points-diff-dd {
  grid-area: cdif;
}
.bet-option-head {
  grid-area: ehead;
}
.bet-eth-desc {
  grid-area: ethd;
}
.bet-eth-sum {
  grid-area: ethsum;
  
}
.bet-eth-sum > div {
  width: 65%;
}
.eth-bet-button {
  grid-area: ethbtn;  
}
.plain-bet-button {
  grid-area: plnbtn;  
}

.exists-bet-container {
  height: 100%;
  display: grid;
  border-radius: 10px;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(5, 1fr);

  grid-template-areas:
    "bhead bhead bhead bhead bhead"
    "bcon bcon bcon bcon rbtn"
    "bcon bcon bcon bcon rbtn"
    "bcon bcon bcon bcon rbtn"
    "beth beth beth beth beth"
    "beth beth beth beth beth"
    "beth beth beth beth beth"    
    ;
}
.exists-bet-container > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.exists-bet-header {
  grid-area: bhead;
}
.exists-bet-content {
  grid-area: bcon;
}
.exists-bet-remove-btn {
  grid-area: rbtn;
}