.gamebet-container {
  width: 100%;
  padding: 0px 0px;
  margin: 1px 5px;
  font-size: 14px;
  background: white;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: [new-game-title] 1fr [new-game-body] 5fr;
  grid-template-columns: [new-game-teams] 1fr [new-game-bet] 1fr [new-game-chart] 1fr;
}
.game-bet-title {
  grid-row: new-game-title;
  grid-column: 1 / -1;
}
.teams-info {
  grid-row: new-game-body;
  grid-column: new-game-teams;
}
.user-game-bet {
  grid-row: new-game-body;
  grid-column: new-game-bet;
  height: 100%;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: [winner-points] 1fr [bet-options] 1fr;
}
.user-please-login {
  grid-row: new-game-body;
  grid-column: new-game-bet;
  height: 100%;
}
.ui.basic.segment {
  padding: 0;
  margin: 0;
}

.all-bets {
  grid-row: new-game-body;
  grid-column: new-game-chart;
}

.winner-points-container {
  grid-row: 1 / -1;
  grid-column: winner-points;
  display: grid;
  grid-gap: 2px;
  border: solid 1px black;
  border-radius: 10px;
  grid-template-rows: [winner-diff-headers] 1fr [home-win] 3fr [away-win] 3fr;
  grid-template-columns: [choose-winner] 1fr [points-diff] 1fr;
}
.winner-points-container > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner-header {
  grid-row: winner-diff-headers;
  grid-column: choose-winner;
  text-decoration: underline;
}
.points-diff-header {
  grid-row: winner-diff-headers;
  grid-column: points-diff;
  text-decoration: underline;
}
.home-win {
  grid-row: home-win;
  grid-column: choose-winner;
  display: flex;
  flex-direction: column
}
.away-win {
  grid-row: away-win;
  grid-column: choose-winner;
  display: flex;
  flex-direction: column
}
.points-diff-dd {
  grid-row: 2 / -1;
  grid-column: points-diff;
}
.points-diff-dd > div {
  border: 1px solid lightgray;
  border-radius: 10%;
  padding: 4px;
}
.bet-options-container {
  grid-column: bet-options;
  display: grid;
  grid-gap: 4px;
  /* border: solid 1px black;
  border-radius: 10px; */
  grid-template-rows: [bet-options-header] 1fr [plain-bet] 2fr [ether-bet] 4fr;
}
.bet-options-container > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bet-option-head {
  grid-row: bet-options-header;
  text-decoration: underline;
}
.plain-bet-option {
  grid-row: plain-bet;
  border: solid 1px black;
  border-radius: 10px;
}
.ether-bet-option {
  padding: 4px;
  grid-row: ether-bet;
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  border-radius: 10px;
  background-color: blanchedalmond;
}
.bet-eth-sum > div > input {
  width: 60px;
}
.eth-bet-button {
  padding: 8px;
}
.exists-bet-container {
  height: 100%;
  display: grid;
  border: solid 1px black;
  border-radius: 10px;
  grid-template-rows: [exist-bet-header] 1fr [exist-bet-content] 2fr [exist-bet-ether] 1fr [remove-btn] 3fr; 
}
.exists-bet-container > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.exists-bet-header {
  grid-row: exist-bet-header;
  text-decoration: underline;
}
.exists-bet-content {
  grid-row: exist-bet-content;
}
.exists-bet-remove-btn {
  grid-row: remove-btn;
}