.teams-info-container {
  background: white;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20px 50px 50px;
  grid-template-areas:
    "ghead ghead ghead"
    "himg hname hstat"
    "aimg aname astat";
}

.teams-info-container > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-header {
  grid-area: ghead;
}

.home-team__img {
  grid-area: himg;
}
.away-team__img {
  grid-area: aimg;
}
.home-team__name {
  grid-area: hname;
  flex-direction: column;
}
.away-team__name {
  grid-area: aname;
  flex-direction: column;
}
.home-team__stats {
  grid-area: hstat;
}
.away-team__stats {
  grid-area: astat;
}