.g-container {
    height: 100vh;
    display: grid;
    grid-gap: 15px;
    grid-template-rows: [new-game] 1fr [recent-game] 1fr [total-chart] 1fr;
    grid-template-columns: [billboard] 1fr [total-chart] 1fr;
   }

  .g-container > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.new-game {
    grid-row: new-game;
    grid-column: 1 / -1;   
}
.recent-game {
    grid-row: recent-game;
    grid-column: 1 / -1;
}
.billboard {
  grid-row: total-chart;
  grid-column: billboard;
  border: solid 1px black;
  border-radius: 10px;
}
.players-chart {
    grid-row: total-chart;
    grid-column: total-chart;
}