.g-container {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(3, 300px) ;
    grid-template-areas: 
    "newgame"
    "recent"
    "chart";
  }

.new-game {
    grid-area: newgame;
}
.recent-game {
    grid-area: recent;
}
.players-chart {
    grid-area: chart;
    background: white;
}