.header-grid {
    grid-row: header;
    grid-column: app-content / right-gutter;
    background: rgb(95, 173, 112);
    padding: 10px;
    display: grid;    
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "logo pholder pholder pholder gmenu gmenu gmenu user";
    align-items: center;
}

.app-logo {
    grid-area: logo;    
}

.app-logo > a {
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.app-logo > a:hover {   
    text-decoration: underline;
}

.header-menu {
    grid-area: gmenu;
    display: flex;
    flex-direction: row;    
}

.header-menu > a {
    margin: 10px;
    color: white;
    font-size: 14px;
}

.header-menu > a:hover {
    text-decoration: underline;
}

.header-user {
    grid-area: user;
    color: white;
    font-size: 14px;
}